.loginUser
{
    width: 1920px;
    height: 600px;
    margin: auto;
    background-image: url('../img/login.jpg');
}

.loginBox
{
    width: 1515px;
    height: 600px;
}
.loginArea
{
    width: 384px;
    height: 456px;
    float: right;
    background-color: #fff;
    margin-right: 80px;
    margin-top: 72px;

}
.loginTitle
{
    width: 306px;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 30px;
}

.usersname,.passwords
{
    margin: 0 auto;
    width: 300px;
    height: 30px;

}
.usersname .login-center-input,.passwords .login-center-input,.copypasswords .login-center-input,.tel .login-center-input
{
    width: 130px;

}
.passwords
{
    margin-top: 20px;
}
.copypasswords,.tel
{
    width: 300px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
}
.yanzhenma
{
    clear: both;
    margin: 0 auto;
    width: 300px;
    height: 30px;
    margin-top: 20px;
}

.yanzhenma .login-center-input
{
    width: 130px;
}
.loginForm
{
    font-size: 25px;
    margin-top: 35px;


}
.login-center-img
{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}
.login-center-img>img{width: 100%;}

.login-center-input
{
    float: left;
    width: 230px;
    margin-left: 20px;
    height: 30px;
    position: relative;
}
.login-center-input input
{

    transition: all 0.5s;
    padding-left: 10px;
    color: #333333;width: 100%;
    height: 30px;border: 0;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    outline: none;
    position: relative;
}
.login-center-input input:focus
{
    border: 1px solid #B4A078;
}
.login-center-input-text
{
    background: white;
    padding: 0 5px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    font-size: 14px;
    left: 5px;
    color: #B4A078;
    line-height: 20px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */-webkit-transition: all 0.5s;
    /* Safari 和 Chrome */-o-transition: all 0.5s;	/* Opera */
}
.login-center-input input:focus~.login-center-input-text{top: 0;z-index: 3;opacity: 1;margin-top: -15px;}
.login.active{-webkit-animation: login-small 0.8s ; animation: login-small 0.8s ;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}
.login-button
{
    width: 300px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #b4a078;
    border-radius: 5px;
    margin-left: 42px;
    margin-top: 20px;
    color: white;
}
.login-button2
{
    width: 300px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #b4a078;
    border-radius: 5px;
    margin-left: 42px;
    margin-top: 15px;
    color: white;
}
.yzmp{
    float: left;
}
.auto
{
    margin: 0 auto;
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
.labText
{
    margin-left: 15px;
    font-size: 15px;
}
#textWord1,.textWord2,.textWord3,.textWord4{
    font-size: 13px;
    margin-left: 150px;
    width: 150px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
}
