.showtype
{
    width: 1100px;
    height: 420px;
    margin: auto;
}
.showtypes{
    float: left;
}
.showtype img{
    width: 330px;
    height: 330px;
}
.showTypePic {
    width: 330px;
    height: 330px;
    background-color: #f4f0ea;
    margin-right: 15px;
    margin-left: 20px;
}
.showTypeName{
    width: 330px;
    height: 15px;
    margin-right: 15px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;

}
.showTypeMoney{
    width: 330px;
    height: 20px;
    color: #990000;
    margin-right: 15px;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    border-bottom: #f4f0ea 1px solid;
    margin-bottom: 15px;
}
.showTypecontent
{
    width: 330px;
    height: 20px;
    color: #999;
    margin-right: 15px;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 25px;
}
.fenye
{
    clear: both;
    height: 30px;
    text-align: center;
    color: #999;
}
.fenye a
{
    color: #999;
}
.fenye a:hover{
    color: #b4a078;
}
